body{
background-image: url(./img/OIG4.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center; 
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
font-size: 25px;
}
.mt{
    margin-top: 25px;
    margin-bottom: 22px;
}

.question-card {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.question-card:hover {
    transform: translateY(-15px);
}

/* Estilo para a pergunta */
.question {
    background-color: white; 
    padding: 5px; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: 22px;
    margin-left: 30px;
    margin-right: 30px;
}


.question::after {
    content: ''; 
    position: absolute; 
    left: -2px; 
    right: -5px; 
    bottom: -5px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    z-index: -1; 
}


.bg-light{
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.card-body p {
    text-align: justify; 
}
.card-body {
    height: 190px;
    overflow: hidden;
}

.container {
    overflow-x: hidden; 
}

.font{
    font-size: 50px;
}
.font2{
    font-size: 23px;
}
.font1{
    font-size: 30px;
}
.footer{
    z-index: -1;
}